.App {
  text-align: center;
}

.my-form{
  border: 2px solid rgb(14, 13, 13);
  background-color: rgb(125, 125, 241);
  color: white;
}

.my-form h2 {
  text-align: left;
  margin-bottom: 0;
  padding-left: 10px;
}

.main {
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  padding: 0 2%;
}

.main label {
  padding: 10px;
}

.main button {
  /* margin-left: 400px; */
  width: 100px;
  height: 30px;
}
